<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BuildingMapper">
    <select id="findAllBuilding" resultType="com.example.demo.pojo.Building">
        select * from building
        <where>
            <if test="number != null and number != ''">
                building_code like concat('%', #{number}, '%')
            </if>
        </where>
    </select>

</mapper>